# Recommender system

Carlos Pinto Pérez
## Scraping

In [ ]:
# Install jikanpy
!pip install --user git+git://github.com/AWConant/jikanpy.git

In [2]:
from jikanpy import Jikan
import pandas as pd
import numpy as np
import time
import datetime as dt

j = Jikan()

Scrap a manga list using rankings

In [2]:
top_manga_ids, top_manga_names = [], []
start_time, pag_100_time = time.time(), time.time()
page = 1
size = 20000
while len(top_manga_ids) <= size:
    current_page = j.top(type='manga', page=page)['top']
    for manga in current_page:
        try:
            top_manga_ids.append(manga['mal_id'])
            top_manga_names.append(manga['title'])
        except:
            None
    page = page+1
    if page % 100 == 0:
        prev_pag_100_time = pag_100_time
        pag_100_time = time.time()
        pag_100_time_format = str(dt.timedelta(seconds=int(pag_100_time-prev_pag_100_time)))
        total_time_format = str(dt.timedelta(seconds=int(pag_100_time-start_time)))
        print(f'Reached page {page}, manga count: {len(top_manga_ids)}.\tTime: {pag_100_time_format}. Total time: {total_time_format}')
end_time = time.time()
end_time_format = str(dt.timedelta(seconds=int(end_time-start_time)))
print(f'Total time: {end_time_format}')

df_mangas = pd.DataFrame(data={'manga_id': top_manga_ids, 'manga_name': top_manga_names}).iloc[0:size,:]
df_mangas['manga_rank'] = df_mangas.index +1
df_mangas.to_csv('mangas.csv', index=False)
print(f'Ended at {time.asctime(time.localtime(end_time))}.')
df_mangas

Reached page 100, manga count: 4950.	Time: 0:01:14. Total time: 0:01:14
Reached page 200, manga count: 9950.	Time: 0:01:15. Total time: 0:02:29
Reached page 300, manga count: 14950.	Time: 0:01:21. Total time: 0:03:51
Reached page 400, manga count: 19950.	Time: 0:01:14. Total time: 0:05:06
Total time: 0:05:08
Ended at Wed Apr 10 18:44:19 2019.

       manga_id                                         manga_name  manga_rank
0             2                                            Berserk           1
1          1706    JoJo no Kimyou na Bouken Part 7: Steel Ball Run           2
2            25                                Fullmetal Alchemist           3
3            13                                          One Piece           4
4             1                                            Monster           5
5          4632                                     Oyasumi Punpun           6
6         70345                                         Grand Blue           7
7           656                                           Vagabond           8
8         16765                                            Kingdom           9
9            51                                          Slam Dunk          10
10            3                                  20th Century Boys          11
11        91941                                      Made in Abyss          12
12        14893                    Monogatari Series: First Season          13
13        40171  Yahari Ore no Seishun Love Comedy wa Machigatt...          14
14        55215                    Utsuro no Hako to Zero no Maria          15
15          651                           Kaze no Tani no Nausicaä          16
16         9115                              Ookami to Koushinryou          17
17          104                                        Yotsuba to!          18
18          336                                                GTO          19
19        21525                                   Akatsuki no Yona          20
20        23751                   Monogatari Series: Second Season          21
21        14483                                      Uchuu Kyoudai          22
22        56805                                     Koe no Katachi          23
23         1303                                      Ashita no Joe          24
24        90125  Kaguya-sama wa Kokurasetai: Tensai-tachi no Re...          25
25          418                                           Mushishi          26
26        44347                                      One Punch-Man          27
27        44227                    Monogatari Series: Final Season          28
28        44489                                    Houseki no Kuni          29
29         1859                                 Natsume Yuujinchou          30
...         ...                                                ...         ...
19970     29785                                               Crow       19971
19971     29789                    Uramiya Honpo: Sukuruma Fuusuke       19972
19972     29791                         Mangaka Zankoku Monogatari       19973
19973     29793             Tenjou no Niji: Jitou Tenno Monogatari       19974
19974     29795                                     Gaikou-kakkaku       19975
19975     29807                                        Hot Shout!!       19976
19976     29819                                  Shocking Pink-Sky       19977
19977     29821                      Soredemo Chikyuu wa Mawatteru       19978
19978     29855                       Saber Marionette i: Neo Gene       19979
19979     29857                       Galaxy Angel Chitose ga Iku!       19980
19980     29861              Galaxy Angel II Tenshi no Hane Yasume       19981
19981     29881                                    Kodomo no Asobi       19982
19982     29891                              Uramiya Honpo: Reboot       19983
19983     29901                        Nogi: Inshuu Hakoku Sentain       19984
19984     29913                                     Bad Boys Glare       19985
19985     29915                                   Bakugyaku Kazoku       19986
19986     29933                                              Sora!       19987
19987     30011                                            Fujisan       19988
19988     30015  The National Free Economic High School: Cecil ...       19989
19989     30089               Hanasaku Iroha: Green Girls Graffiti       19990
19990     30099                                        Pocho Mukin       19991
19991     30131                                           Puu-Neko       19992
19992     30135                              Ayakashidou no Hourai       19993
19993     30137                                 Kimitaka no Ateru!       19994
19994     30159                                         Zegen-Yawa       19995
19995     30165                         Sayounara, Utsukushii Hito       19996
19996     30169                                            Barista       19997
19997     30213                                  Nibiiro Genshikou       19998
19998     30225                                     Megami no Kago       19999
19999     30227                                   Yamada no Orochi       20000

[20000 rows x 3 columns]

In [3]:
df_mangas = pd.read_csv('mangas.csv')
df_mangas.head()

   manga_id                                       manga_name  manga_rank
0         2                                          Berserk           1
1      1706  JoJo no Kimyou na Bouken Part 7: Steel Ball Run           2
2        25                              Fullmetal Alchemist           3
3        13                                        One Piece           4
4         1                                          Monster           5

Scrap users and review scores of top 20.000 mangas. This is an intermediate step: review scores are valuable but there are a little amount of them. By doing this step I collect information of prolific users.

In [3]:
users_review_scores = []
start_time, each_100_mangas_time = time.time(), time.time()
review_count, keystone_gap = 0, 500
keystone = keystone_gap
for manga_id in df_mangas['manga_id']:
    current_page = 1
    try:
        current_reviews = j.manga(manga_id, extension='reviews', page=1)['reviews']
    except:
        print(f'Problem at reviews of manga {manga_id}.')
        current_reviews = []
    while len(current_reviews) > 0:
        for review in current_reviews:
            review_count = review_count+1
            user = review['reviewer']['username']
            score = review['reviewer']['scores']['overall']
            weight = review['helpful_count']
            data = {'user': user, 'manga_id': manga_id, 'score': score, 'weight': weight}
            users_review_scores.append(data)
        current_page = current_page+1
        try:
            current_reviews = j.manga(manga_id, extension='reviews', page=current_page)['reviews']
        except:
            print(f'Problem at reviews of manga {manga_id}, page {current_page}.')
            current_reviews = []
    if review_count > keystone:
        ant_each_100_mangas_time = each_100_mangas_time
        each_100_mangas_time = time.time()
        each_100_mangas_time_format = str(dt.timedelta(seconds=int(each_100_mangas_time-ant_each_100_mangas_time)))
        total_time_format = str(dt.timedelta(seconds=int(each_100_mangas_time-start_time)))
        print(f'Reached {keystone} reviews.\tTime: {each_100_mangas_time_format}. Total time: {total_time_format}')
        keystone = keystone + keystone_gap
end_time = time.time()
end_time_format = str(dt.timedelta(seconds=int(end_time-start_time)))
print(f'Total time: {end_time_format}')

df_reviews_scores = pd.DataFrame(data=users_review_scores)
df_reviews_scores.to_csv('reviews_scores.csv', index=False)
print(f'Ended at {time.asctime(time.localtime(end_time))}.')
df_reviews_scores

Reached 500 reviews.	Time: 0:01:26. Total time: 0:01:26
Reached 1000 reviews.	Time: 0:01:24. Total time: 0:02:50
Reached 1500 reviews.	Time: 0:01:50. Total time: 0:04:41
Reached 2000 reviews.	Time: 0:01:40. Total time: 0:06:21
Reached 2500 reviews.	Time: 0:01:23. Total time: 0:07:44
Reached 3000 reviews.	Time: 0:01:49. Total time: 0:09:34
Reached 3500 reviews.	Time: 0:02:24. Total time: 0:11:59
Reached 4000 reviews.	Time: 0:02:11. Total time: 0:14:10
Reached 4500 reviews.	Time: 0:02:56. Total time: 0:17:06
Reached 5000 reviews.	Time: 0:03:26. Total time: 0:20:33
Reached 5500 reviews.	Time: 0:03:01. Total time: 0:23:34
Reached 6000 reviews.	Time: 0:03:37. Total time: 0:27:11
Reached 6500 reviews.	Time: 0:03:48. Total time: 0:31:00
Reached 7000 reviews.	Time: 0:03:31. Total time: 0:34:32
Reached 7500 reviews.	Time: 0:02:54. Total time: 0:37:26
Reached 8000 reviews.	Time: 0:03:53. Total time: 0:41:19
Reached 8500 reviews.	Time: 0:04:36. Total time: 0:45:56
Reached 9000 reviews.	Time: 0:04:23. Total time: 0:50:20
Reached 9500 reviews.	Time: 0:04:49. Total time: 0:55:09
Reached 10000 reviews.	Time: 0:04:40. Total time: 0:59:50
Reached 10500 reviews.	Time: 0:04:38. Total time: 1:04:29
Reached 11000 reviews.	Time: 0:05:17. Total time: 1:09:47
Reached 11500 reviews.	Time: 0:06:48. Total time: 1:16:35
Reached 12000 reviews.	Time: 0:07:43. Total time: 1:24:18
Reached 12500 reviews.	Time: 0:09:03. Total time: 1:33:22
Reached 13000 reviews.	Time: 0:07:57. Total time: 1:41:20
Reached 13500 reviews.	Time: 0:09:45. Total time: 1:51:05
Reached 14000 reviews.	Time: 0:10:26. Total time: 2:01:31
Reached 14500 reviews.	Time: 0:08:13. Total time: 2:09:45
Reached 15000 reviews.	Time: 0:10:55. Total time: 2:20:41
Reached 15500 reviews.	Time: 0:11:48. Total time: 2:32:29
Reached 16000 reviews.	Time: 0:14:27. Total time: 2:46:57
Reached 16500 reviews.	Time: 0:12:40. Total time: 2:59:37
Reached 17000 reviews.	Time: 0:14:22. Total time: 3:14:00
Reached 17500 reviews.	Time: 0:17:10. Total time: 3:31:10
Reached 18000 reviews.	Time: 0:17:57. Total time: 3:49:07
Reached 18500 reviews.	Time: 0:18:21. Total time: 4:07:29
Reached 19000 reviews.	Time: 0:23:19. Total time: 4:30:48
Reached 19500 reviews.	Time: 0:22:04. Total time: 4:52:53
Reached 20000 reviews.	Time: 0:25:47. Total time: 5:18:41
Reached 20500 reviews.	Time: 0:20:45. Total time: 5:39:26
Reached 21000 reviews.	Time: 0:23:48. Total time: 6:03:14
Reached 21500 reviews.	Time: 0:25:00. Total time: 6:28:15
Total time: 7:50:30
Ended at Thu Apr 11 05:18:57 2019.

       manga_id  score             user  weight
0             2     10   TheCriticsClub    1315
1             2      7       Polyphemus     771
2             2     10            qrdel     704
3             2     10          Cobbles     322
4             2     10              Aja     127
5             2      6        Tumerking     115
6             2      7           aindah      48
7             2      9         infinity      43
8             2      3         hardcase      29
9             2     10      IronBerserk      40
10            2      4    M0nkeyD_Luffy      33
11            2     10        Neiru2013      26
12            2      8   literaturenerd      26
13            2      7           Saiyra      24
14            2     10  ironcladgranite      23
15            2     10           dg2500      22
16            2      6           Agehaa      10
17            2      8       ChouEritto       7
18            2     10    TheSpicyDonut      20
19            2      4     Sibi_Gowtham       9
20            2      9     ChickenSpoon      16
21            2      9        kuglefang      15
22            2     10         NoahKujo      14
23            2     10  TheGreatCthulhu      13
24            2     10       Roflkopt3r      13
25            2     10           AuKosS      13
26            2      7      pistachio20      13
27            2      8           Chnapy       5
28            2      6  butthurtbrigade       8
29            2      8       yasmi-chan      12
...         ...    ...              ...     ...
21957     11640      9      hallanmeras       5
21958     12285      6        TheBastid       1
21959     12377      8        Nadzy1994       4
21960     12652      8          Maz-Maz       7
21961     13508      6        Anomalous       6
21962     13597      9          sabgian       6
21963     13706      9       byronchama       3
21964     14989      8          japanda       5
21965     16027      9   NataliaChekhov       1
21966     16242      8         Jessie21       5
21967     18345      6         Foolness       5
21968     18568      8       mangacraze       0
21969     18874      9           greigh       3
21970     19148      8         Spieluhr       2
21971     19466      7           a1oner       0
21972     20722      7         SuiGyoza       2
21973     21418      9       KurokiYami       2
21974     22200      4         Fel_Temp       6
21975     23309     10      cloudtuffy2       5
21976     23497      8        M0richild       1
21977     23508      8        asharcade       0
21978     23512      9         Arrakhis       1
21979     23552      8        TheBastid       8
21980     25375      7         Piegoose       1
21981     25563      3          Maz-Maz       3
21982     25926      1   Midorikawa_Nao       1
21983     26255      8      Makiko-chan       0
21984     27777      8          Maz-Maz       4
21985     28307      5      stocksatron       2
21986     29125      5     BlasianAngel       1

[21987 rows x 4 columns]

In [4]:
df_reviews_scores = pd.read_csv('reviews_scores.csv')
df_reviews_scores.head()

   manga_id  score            user  weight
0         2     10  TheCriticsClub    1315
1         2      7      Polyphemus     771
2         2     10           qrdel     704
3         2     10         Cobbles     322
4         2     10             Aja     127

Scrap the manga scores of the last users collected. Manga scores are the key of the recommender system.

Attention: It seems that the default score of a non-rated manga is 0. So I only collect scores if they are greater than 0.

In [5]:
users_checked, scores, bad_users = [], [], []
start_time, each_keystone_time = time.time(), time.time()
scores_count, keystone_gap = 0, 20000
keystone = keystone_gap
for user in df_reviews_scores['user']:
    if user not in users_checked and user not in bad_users:
        current_page = 1
        try:
            current_mangas = j.user(username=user, request='mangalist', argument='all', page=current_page)['manga']
        except:
            bad_users.append(user)
            current_mangas = []
        if user not in bad_users:
            users_checked.append(user)
        while len(current_mangas) > 0:
            for manga in current_mangas:
                manga_id = manga['mal_id']
                score = manga['score']
                if manga_id in df_mangas['manga_id'] and score > 0:
                    scores_count = scores_count+1
                    data = {'user': user, 'manga_id': manga_id, 'score': score}
                    scores.append(data)
            current_page = current_page+1
            try:
                current_mangas = j.user(username=user, request='mangalist', argument='all', page=current_page)['manga']
            except:
                print(f'Problem viewing mangas of {user}, page {current_page}.')
                print('User actually saved in unique_users.csv because a previous page has given information.')
                current_mangas = []
        if scores_count > keystone:
            ant_each_keystone_time = each_keystone_time
            each_keystone_time = time.time()
            each_keystone_time_format = str(dt.timedelta(seconds=int(each_keystone_time-ant_each_keystone_time)))
            total_time_format = str(dt.timedelta(seconds=int(each_keystone_time-start_time)))
            print(f'Reached {keystone//1000}k scores through {len(users_checked)} users.' +
                  f'\tTime: {each_keystone_time_format}. Total time: {total_time_format}')
            keystone = keystone + keystone_gap
end_time = time.time()
end_time_format = str(dt.timedelta(seconds=int(end_time-start_time)))
print(f'Total time: {end_time_format}')

df_scores = pd.DataFrame(data=scores)
df_scores.to_csv('scores.csv', index=False)

df_validated_users = pd.DataFrame(data=users_checked)
df_validated_users.to_csv('good_users.csv', index=False)

df_bad_users = pd.DataFrame(data=bad_users)
df_bad_users.to_csv('bad_users.csv', index=False)

print(f'Ended at {time.asctime(time.localtime(end_time))}.')
df_scores

Reached 20k scores through 470 users.	Time: 0:19:24. Total time: 0:19:24
Reached 40k scores through 893 users.	Time: 0:20:57. Total time: 0:40:21
Reached 60k scores through 1211 users.	Time: 0:14:47. Total time: 0:55:08
Reached 80k scores through 1623 users.	Time: 0:16:58. Total time: 1:12:07
Reached 100k scores through 2057 users.	Time: 0:18:18. Total time: 1:30:25
Reached 120k scores through 2316 users.	Time: 0:12:38. Total time: 1:43:03
Reached 140k scores through 2601 users.	Time: 0:13:47. Total time: 1:56:51
Reached 160k scores through 2996 users.	Time: 0:16:40. Total time: 2:13:31
Reached 180k scores through 3353 users.	Time: 0:15:12. Total time: 2:28:44
Reached 200k scores through 3678 users.	Time: 0:15:00. Total time: 2:43:44
Reached 220k scores through 4029 users.	Time: 0:14:30. Total time: 2:58:15
Reached 240k scores through 4289 users.	Time: 0:13:19. Total time: 3:11:35
Reached 260k scores through 4683 users.	Time: 0:16:50. Total time: 3:28:26
Reached 280k scores through 5047 users.	Time: 0:16:26. Total time: 3:44:52
Reached 300k scores through 5348 users.	Time: 0:17:41. Total time: 4:02:34
Reached 320k scores through 5708 users.	Time: 0:16:39. Total time: 4:19:13
Reached 340k scores through 6080 users.	Time: 0:17:29. Total time: 4:36:43
Reached 360k scores through 6473 users.	Time: 0:17:19. Total time: 4:54:03
Reached 380k scores through 6887 users.	Time: 0:18:42. Total time: 5:12:45
Reached 400k scores through 7191 users.	Time: 0:14:25. Total time: 5:27:11
Reached 420k scores through 7544 users.	Time: 0:17:37. Total time: 5:44:48
Reached 440k scores through 7932 users.	Time: 0:18:33. Total time: 6:03:22
Reached 460k scores through 8248 users.	Time: 0:15:17. Total time: 6:18:39
Reached 480k scores through 8609 users.	Time: 0:15:59. Total time: 6:34:39
Reached 500k scores through 8910 users.	Time: 0:14:27. Total time: 6:49:06
Reached 520k scores through 9277 users.	Time: 0:17:51. Total time: 7:06:57
Reached 540k scores through 9643 users.	Time: 0:15:52. Total time: 7:22:50
Reached 560k scores through 9906 users.	Time: 0:13:36. Total time: 7:36:27
Reached 580k scores through 10212 users.	Time: 0:14:13. Total time: 7:50:41
Reached 600k scores through 10548 users.	Time: 0:15:10. Total time: 8:05:51
Reached 620k scores through 10927 users.	Time: 0:17:23. Total time: 8:23:15
Total time: 8:33:58
Ended at Fri Apr 12 05:29:47 2019.

        manga_id  score            user
0              2     10  TheCriticsClub
1              4     10  TheCriticsClub
2           1067      4      Polyphemus
3             13      8      Polyphemus
4            682      2      Polyphemus
5             38      5      Polyphemus
6          17645      3      Polyphemus
7           1402      3      Polyphemus
8           5280      2      Polyphemus
9          11133      3      Polyphemus
10            32      2      Polyphemus
11          5259      2      Polyphemus
12          3764      4      Polyphemus
13          3721      1      Polyphemus
14          1400      7      Polyphemus
15          6146      5      Polyphemus
16         10928      3      Polyphemus
17           110      3      Polyphemus
18           615      3      Polyphemus
19            55      2      Polyphemus
20         12629      7      Polyphemus
21           664      8      Polyphemus
22           766      2      Polyphemus
23           677      2      Polyphemus
24          1101      3      Polyphemus
25          4526      2      Polyphemus
26         14710      3      Polyphemus
27           838      7      Polyphemus
28           296      5      Polyphemus
29           124      5      Polyphemus
...          ...    ...             ...
633688       175     10        Arrakhis
633689       357      9        Arrakhis
633690        12      2        Arrakhis
633691        11      1        Arrakhis
633692     19672      8        Arrakhis
633693      1564     10        Arrakhis
633694      3986      7        Arrakhis
633695     10259      7        Arrakhis
633696     18774      7        Arrakhis
633697      5119      8        Arrakhis
633698       584      8        Arrakhis
633699      1543      9        Arrakhis
633700     13277      8        Arrakhis
633701     14804     10        Arrakhis
633702      4093      8        Arrakhis
633703      7887      8        Arrakhis
633704      5376     10        Arrakhis
633705     14018      8        Arrakhis
633706      3116      7     Makiko-chan
633707       610      8     Makiko-chan
633708     17706      7     Makiko-chan
633709      3633      8     Makiko-chan
633710      5255      9     Makiko-chan
633711       320      7     Makiko-chan
633712     11438      7     Makiko-chan
633713      1237      8     Makiko-chan
633714      3554      9     Makiko-chan
633715       629      9     Makiko-chan
633716      1978      8     Makiko-chan
633717     11734      7     Makiko-chan

[633718 rows x 3 columns]

---